{% extends "base.html" %}

{% block head %}

{% endblock %}
{% block popup %}
            <form role="form" class='form-horizontal' name="login_form" action="/create_user" method="post">
                <div class="username-input">
                    <input id="username-input" name="name" type="text" class="form-control" value="" placeholder="Full name" required/>
                </div>
                <div >
                    <button class="btn btn-primary" type="submit">LOGIN<span class="new-user-login"> AS NEW USER</span></button>
                </div>
            </form>
            <div class="btn-group-vertical btn-group-lg login-buttons" style="width: 100%">
                {% for user in users %}
                    <a class="btn btn-default provider" style="border-radius: 0px; !important;" href="{{ url_for('login_by_id', user_id=user.id, **request.args) }}">
                        Login as <b>{{ user.name|capitalize }}</b>
                    </a>
                {% endfor %}
            </div>

            <div class="or-container">
                <hr/>
                <div class="or"> OR </div>
            </div>
<div class="github-link">
    <i class="fa fa-2x fa-github" aria-hidden="true"></i>
    <a href="https://github.com/allegroai/trains">Fork on Github</a>
</div>
{% endblock %}

{% block messages %}
            <hr class="my-4 nav-divider"/>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger text-left" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ message }}
                </div>
            {% endfor %}
{% endblock %}
